<ul class="nav">
  <li><a href="/">Introduction</a></li>
  <li><a href="/hnl/">Human Nature Lab</a></li>
  <li class="heading"><a href="/onion/overview/">Onion, Inc.</a>
    <ul>
      <li><a href="/onion/project1/">ClickVenture CMS</a></li>
      <li><a href="/onion/project2/">Freelancer Contributions</a></li>
      <li><a href="/onion/project3/">Editorial Dashboard</a></li>
      <li><a href="/onion/project4/">Onion Studios CMS</a></li>
      <li><a href="/onion/bitsandbobs/">Various Bits and Bobs</a></li>
    </ul>
  </li>
  <li><a href="/ctba/">Center for Tax and Budget Accountability</a></li>
</ul>
